.publicboard-wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 1rem 3.5rem;
  flex-direction: column;
  margin: auto;
}

.flex {
  display: flex;
}

.publicboard-sorting {
  width: 8rem;
  height: 2rem;

  align-self: flex-end;
}

.publicboard-body {
  display: flex;
}

.publicboard-title {
  font-size: 1rem;
  padding-left: 10px;
  text-align: left;
  margin: 1rem 0 6px;
  font-weight: 500;
}

.publicboard-wentwell,
.publicboard-improve,
.publicboard-actions {
  display: flex;
  flex-direction: column;
  width: 100%;
}
