.comment-card-wrapper {
  box-shadow: 0 2px 4px rgba(134, 134, 134, 0.575);
  border-radius: 10px;
  padding: 0.8rem 0.8rem 0;
  display: flex;
  flex-direction: column;
  margin: 8px;
  position: relative;
}

.card-option-menu {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 6px 11px;
  border-radius: 50%;
}

.card-option-menu:hover {
  background-color: rgb(222, 222, 222);
}

.comment-card-text {
  font-size: 1rem;
  width: 93%;
  text-align: left;
  margin: 2px 0 5px;
  padding-left: 4px;
}

.comment-card-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 4px;
}

.thumb,
.comment {
  padding: 10px;
}

.comment {
  padding-right: 5px;
}

.went-well {
  background-color: rgb(206, 255, 209);
}

.improve {
  background-color: rgb(252, 210, 210);
}

.action {
  background-color: rgb(199, 207, 255);
}
